html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
}

Canvas {
	touch-action: none;
}

.screen {
	width: 1160px;
	height: 720px;
}

.screen iframe {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 20px;
}

.internal-error {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 0 24px;
	font-family: 'Times New Roman', Times, serif;
	margin: auto;
	box-sizing: border-box;
}
.internal-error-container {
	margin: 0 10px;
	font-style: normal;
}
.internal-error h1 {
	font-size: 55px;
	font-weight: 700;
	font-style: normal;
}
.internal-error p {
	font-size: 30px;
	font-weight: 300;
	font-style: normal;
}
.server-apache {
	border-top: solid 1px black;
	padding-top: 20px;
	font-size: 18px;
	font-style: italic;
}
.force-reload {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	margin: auto;
}
.force-reload button:hover {
	cursor: pointer;
}
